:root{
    --main-color:white;
    --special-color: rgba(253,29,191,1) ;
    --special-grid-color:linear-gradient(90deg,  rgba(253,29,191,1) 50%, #eee 100%);
}
.about.flex-column {
    gap: 50px;
}
.about-info {
    margin-top: 20px;
    max-width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-info .desc.coder-desc {
    font-size: 18px;
}
.elzero