@import './../Main//Main.css' ;

.home {
    display: flex;
}
.home-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: auto;
    width: fit-content;
    gap: 70px;
    /* align-items: center; */
}
.home-info {
    width: fit-content;
    max-width: 350px;
    text-align:left;
}
.coder-name{
    font-size: 25px;
}
.coder-desc{
    font-size: 20px;
    font-style: italic;
    position:relative;
}
.coder-desc a.arrow-icon{
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    width: 50px;
    display: inline-block;
}
.arrow-icon svg{
    background: var( --special-grid-color , linear-gradient(90deg,  rgba(253,29,191,1) 50%, #eee 100%));
    background-clip: text;
    --webkit-background-clip: text;
    color: transparent;
    /* color:rgba(253, 29, 191, 1); */
    color:var( --special-grid-color , linear-gradient(90deg,  rgba(253,29,191,1) 50%, #eee 100%));
    animation:animate-arrow 2s infinite;
    -webkit-animation:animate-arrow 2s infinite;
}
.words {
    display: flex;
    justify-content: space-between;
    /* position:relative; */
    display:none;
}

.word{
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke: 1px var(--special-color);
    -webkit-text-fill-color: transparent;
    opacity:0;
    animation:animate-word 6s linear infinite;
    -webkit-animation:animate-word 6s linear infinite;
    position: absolute;
    letter-spacing:2px;
  
}
.responsive{
    top: 90px;
    left: 50px;
}
.heigh-quilty{
    animation-delay:1s; 
    bottom: 100px;
    left: 50%;
}
.html{
    animation-delay:2s;
    top: 30%;
    right: 30%;
}
.css{
    animation-delay:3s; 
    bottom: 100px;
    left: 10%;
}
.js{
    animation-delay:4s; 
    right: 40%;
    top: 100px;
}
.scss{
    animation-delay:5s; 
    bottom: 50%;
    right: 10%;
}
.react{
    animation-delay:6s; 
    left: 40%;
}


@keyframes animate-word{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }   
    100%{
        opacity:0;
         
    }
}

 @keyframes animate-arrow{
    0% , 100%{
        transform:translatex(0)  scale(1.1)  ;
        -webkit-transform:translatex(0)  scale(1.1)  ;
        -moz-transform:translatex(0)  scale(1.1)  ;
        -ms-transform:translatex(0)  scale(1.1)  ;
        -o-transform:translatex(0)  scale(1.1)  ;
}
    50%{
        transform:translatex(10%) scale(1.2)   ;
        -webkit-transform:translatex(10%) scale(1.2)   ;
        -moz-transform:translatex(10%) scale(1.2)   ;
        -ms-transform:translatex(10%) scale(1.2)   ;
        -o-transform:translatex(10%) scale(1.2)   ;
}
  
} 
/* 
@media  (min-width: 1200px){
    .home-content {
        justify-content: center;
        gap: 100px;
    }

} */

@media  (max-width: 575px){
    .home-content {
        justify-content: center;
    }
}