:root{
    --main-color:white;
    --special-color: #ffb400 ;
    /* --special-color:linear-gradient(90deg, rgba(170,99,217,1) 0%, rgba(253,29,191,1) 50%, rgba(69,252,87,1) 100%);; */
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style:none;
}
a {
    text-decoration: none;
    cursor:pointer;
    color: var(--color, #eee);
}
.desc{
    line-height: 1.5;
    font-style: italic;
    
}
.special-color{
    color: var( --special-color , #ffb400);
    background-image: linear-gradient(90deg,  rgba(253,29,191,1) 50%, #eee 100%);
    background-clip:text;
    color:transparent;
}
.special-font {
    /* font-family: "Clicker Script", cursive; */
    font-family: "Edu VIC WA NT Beginner", cursive;
}
.capitalize {
    text-transform: capitalize;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.section{
    width: 100%;
    background-color: #000;
}
.container{
    width: calc(100% - 200px);
    margin-left: 200px;
    min-height: 100vh;
    padding:25px;
    /* background-color: rgba(253,29,191,1); */
    background-color: #000;
    position:relative;
    color: var(--main-color, #eee);
    text-align: center;
}
.btn {
    width: fit-content;
    height: 28px;
    padding: 10px;
    cursor: pointer;
    border-radius: 25%;
}
.contact-btn.btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: fit-content;
    height: 28px;
    padding: 10px;
    cursor: pointer;
    border-radius: 25%;
}
/* .container::after{
    content:'';
    width: 100%;
    height: 100%;
    background-color: #000;
    /* background-color:#ffb400 ; */
    /* position:absolute;
    top:0;
    left:0;
    opacity:.6;  } */ 


@media  (max-width: 767px) {
    .container {
      width:100%;
      margin:0 auto;
  }
  }

/* draft Style */
/* a{
    background-image: linear-gradient(90deg, rgba(170,99,217,1) 10%, rgba(253,29,191,1) 50%, rgba(69,252,87,1) 100%);
    background-clip:text;
    --webkit-background-clip:text;
    --webkit-text-fill-color:transparent;
} */
/* span{
    font-family: "Clicker Script", cursive;
} */