.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home-info {
    width: 350px;
    text-align: left;
}
.coder-desc{
    font-size: 20px;
}
.coder-name{

}