

@import './../Main//Main.css' ;
.header {
  width: 250px;
  height: 100vh;
  background-color: #000;
  border-radius: 5px;
  padding: 25px 15px;
  position: fixed;
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  z-index: 4;
  box-shadow: 0 0 6px var(--special-color);
}
.bar{
    display: none;
    gap:5px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-image: var( --special-grid-color , linear-gradient(90deg,  rgba(253,29,191,1) 50%, #eee 100%));
    border-radius: 50%;
    top: -50px;
    left: -50px;
    z-index:5;
  }
  .fa-xmark {
    font-size: 23px;
    position: absolute;
    bottom: 21px;
    right: 25px;
    transition:2s;
    opacity:0;
  }
  
  .header.flex-column {
    gap:40px;
  }
  .header a {
    color: var(--main-color, #eee);
  }

  .header .logo {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    color: var(--main-color);
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px auto;
  }
  .header .logo span {
    font-family: "Clicker Script", cursive;
    background: var( --special-grid-color , linear-gradient(90deg,  rgba(253,29,191,1) 50%, #eee 100%));
    background-clip: text;
    --webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
    font-weight: 800;
  }
  .header .logo::before, .header .logo::after {
    content: "";
    border-width: 5px;
    border-style: solid;
    position: absolute;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    height: 25px;
    width: 25px;
  }
  .header .logo::before {
    border-image: linear-gradient(  #6f888f , #687f7f ) 50% 50% 0% 0%;
    top: -6px;
    right: -14px;
  }
  .header .logo::after {
    border-image: linear-gradient(  #6f888f , #687f7f ) 0% 0% 50% 50%;
    bottom: -6px;
    left: -13px;
  }
  .header .header-list {
    gap: 30px;
    text-align: center;
    height: 200px;
    /* justify-content: space-between; */
    align-items: flex-start;
    /* width: 100%; */
    width: fit-content;
    padding: 0px;
  }
  .header .header-list .header-list-item {
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
    padding: 5px 10px;
  }
  .header .header-list .header-list-item a{
    text-transform: capitalize;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    padding: 4px;
  }
  .header .header-list .header-list-item a.active{
    box-shadow: 0 0 3px;
    border-radius: 3px;
    border-left:2px solid;
    transition:.5s  ;
    -webkit-transition:.5s  ;
    -moz-transition:.5s  ;
    -ms-transition:.5s  ;
    -o-transition:.5s  ;
}
 

  .header .header-list .header-list-item img {
    width: 32px;
}
  .header .header-list .header-list-item.user img {
    width: 35px;
}
 .sec-name {
  font-size:20px;
}
.header .header-list .header-list-item a.active .sec-name {
  text-transform: capitalize;
  background: var( --special-grid-color , linear-gradient(90deg,  rgba(253,29,191,1) 50%, #eee 100%));
  background-clip: text;
  --webkit-background-clip: text;
  color: transparent;
}
 
  @media  (max-width: 767px) {
    .nav{
      width:100%;
    }
    .header {
      width: 100%;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
}
    .show-header {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
}  
    .bar{
      display:flex;
    }
    .show-xmark {
      opacity:1;
    }
  }


